@use 'sass:math';

$utilities: (
    "top": (
        "prefix": "top",
        "values": (
            "0": 0,
            "1": 90px,
        ),
    ),
);

// Generate Utility Classes
@each $property, $map in $utilities {
    $prefix: map-get($map,  "prefix");
    $values: map-get($map,  "values");

    @each $k, $v in  $values {
        @if ($k == "default") {
            .#{$prefix} {
                #{$property}: $v !important;
            }
        } @else {
            .#{$prefix}-#{$k} {
                #{$property}: $v !important;
            }
        }
    }
}

.position-absolute {
    position: absolute;
    bottom: -50px;
}

.position-relative {
    position: relative;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

// Sticky

.position-sticky-top {
    position: sticky;
    top: 60px;
    z-index: 1;
}

.position-sticky-bottom {
    position: sticky;
    bottom: 0;
    z-index: 1;
}