// Variables
$default-border: 1px solid rgba(var(--color-dark-rgb), 0.1) !default;
$default-transition: all 0.2s ease !default;
                    
#app {    
    header { 
        border-bottom: $default-border;
        background: rgba(var(--card-background-rgb), 0.99);
        backdrop-filter: blur(8px);
        position: fixed;
        top: 0; 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: $default-transition;
        height: 60px;
        width: 100%;
        z-index: 3;
        
        nav {
            display: grid;
            grid-template-columns: 1fr auto auto;
            width: 100%;

            .brand-logo {
                width: 100px;
            }

            .nav-btn-toggler {
                z-index: 1;
                display: none;

                @media (max-width: 768px) and (min-width: 320px) {
                    display: flex;
                }
            }

            .nav-menu {
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;
                gap: 0.6rem;

                @media (max-width: 768px) and (min-width: 320px) {
                    display: none;
                }

                .nav-item {
                    .nav-link {
                        font-size: 16px;

                        .nav-text {
                            display: none;

                            @media (max-width: 564px) {
                                display: flex;
                            }
                        }
                    }
                }
            }

            .nav-menu-sm {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                height: 100vh;
                background: rgba(var(--color-light-rgb), 0.99);
                backdrop-filter: blur(6px);
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                align-items: flex-start;
                padding: 24px;
                transition: $default-transition;
                z-index: 1;
                overflow: auto;
            }
        }
    }

    main { 
        transition: $default-transition;
        height: 100%;
        margin-top: 3.7rem;
        margin-bottom: 3.7rem;

        .container {
            @media (max-width: 1024px) and (min-width: 768px) {
                padding: 40px;
            }
    
            @media (max-width: 600px) {
                padding: 12px;
            }
        }
    }
}

footer {
    background: rgba(var(--color-warning-rgb), 0.1);
    backdrop-filter: blur(7px);

    .footer-menu {
        list-style: none;
        padding: 0;
        display: grid;
        grid-gap: 0.9rem;
        margin-top: 1rem;
        font-weight: 500;
        color: rgba(var(--color-dark-rgb), 0.8);

        .footer-link {
            transition: $default-transition;
            padding: 6px;
            border-radius: 8px;

            &:hover {
                background: var(--color-secondary);
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
        border-top: 1px solid rgba(var(--color-dark-rgb), 0.1);
    }
}

// Product Star Rating
.star-rating {
    display: flex;
    align-items: center;

    span {
        font-size: 16px;
        color: var(--color-warning);
        
    }

    div {
        margin-left: 0.2rem;
    }
}

// CTA

.cta-product {
    width: 300px;
    height: 300px;
    border-radius: 50%;

    @media (max-width: 564px) {
        width: 250px;
        height: 250px;
    }
}

// Product Search 
.search-form {
    @media (max-width: 564px) {
        display: none;
    }
}

.search-btn {
    display: none;
    @media (max-width: 564px) {
        display: flex;
    }
}

.search-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-flow: wrap;
    gap: 0.5rem;

    .search-link {
        padding: 6px 12px;
        border-radius: 8px;
        background: var(--color-secondary);
        font-weight: 500;
        white-space: nowrap;
    }
}


